@using WebStore.Models
@model IEnumerable<WebStore.Models.EmployeeViewModel>

@{
    Layout = "_Layout";
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Patronymic</th>
        <th scope="col">Sure name</th>
    </tr>
    </thead>
    <tbody>
        @{
            foreach (var employee in Model)
            {
                <tr>
                    <th scope="row">@employee.Id</th>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.SureName</td>
                    <td>@employee.Age</td>
                    <td><a asp-area="" asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id">Details</a></td>
                </tr>
            }
        }
    </tbody>
</table>