@model EmployeeModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Patronymic</th>
            <th scope="col">Sure name</th>
            <th scope="col">Age</th>
        </tr>
    </thead>
    <tbody>
    @{
        if (Model != null)
        {
            <tr>
                <th scope="row">@Model.Id</th>
                <td>@Model.FirstName</td>
                <td>@Model.Patronymic</td>
                <td>@Model.Surname</td>
                <td>@Model.Age</td>
            </tr>
        }
    }
    </tbody>
</table>

<div>
    <a asp-area="" asp-controller="Employees" asp-action="Index">Back to list</a>
</div>